<%= error_messages_for @board %>

<div class="box tabular">
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.text_field :description, :required => true, :size => 80 %></p>
  <% if @board.valid_parents.any? %>
    <p><%= f.select :parent_id, boards_options_for_select(@board.valid_parents), :include_blank => true, :label => :field_board_parent %></p>
  <% end %>
  <% 
    projects = Project.visible.sorted - [@project]
    current_project_ids = @board.board_projects.pluck(:project_id) rescue []
  %>
  <p>
  <label>Share with</label>
  <% projects.each do |project| %>
    <%= check_box_tag 'board[project_ids][]', project.id, current_project_ids.include?(project.id)  %> <%= project.name %>
  <% end %>
  </p>
</div>
